@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Public Sans", sans-serif;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h3{
  font-size: 28px;
}
p { 
  font-family: "IBM Plex Mono", monospace;

}

.dividerLine{
  background: #D9D9D9;
  border-radius: 10px;

}

.overlayDark {
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.373);
  z-index: 2;
}
.mainWrapper{
  border-bottom: 0px !important;

}
.servicesImage{
  border-radius: 8px;
}

.clickBtns{
  background: #0000007c;
border: 0.5px solid #ffffff;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

}

.pricingCard{
  border: 0.5px solid #E3E3E3;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}